.ingredient {
  margin: 0 auto;
  min-height: 660px;
  position: relative;
}

.ingredient__list {
  min-height: 480px;
  height: fit-content;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
}

.ingredient__list::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.ingredient__list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredient__item {
  max-width: 536px;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: grab;
}

.ingredient__sum {
  display: flex;
}

.order {
  max-width: 552px;
  display: flex;
  justify-content: flex-end;
}

.info {
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  display: none;
  position: absolute;
  top: -50px;
  left: 70px;
}

.flex {
  display: flex;
}
