.ingredient {
  margin: 0 auto;
  &__list {
    height: 664px;
    overflow-y: scroll;
    list-style-type: none;
    padding-left: 0;
    height: 464px;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #2f2f37;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8585ad;
    }
  }

  &__item {
    max-width: 536px;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &__sum {
    display: flex;
  }
}

.order {
  max-width: 552px;
  display: flex;
  justify-content: flex-end;
}
